* {
    box-sizing: border-box;
}

body {
    /* background: #F2F2F2; */
    background-image: url(../Portfolio/mountain_background.jpg);
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
    font-size: 16px;
    font-family: 'Fauna One', serif;
    color: #65432F;
    
}

h2 {   
    font-family: 'Playfair Display', serif;
    font-size: 140%;
} 

.headshot {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 300px;
    border: 4px, black, solid;
    border-radius: 2px;
}

.bio {
    margin-top: 15px;
}

p {
    font-size: 90%;
    line-height: 145%;
}

.highlight {
    font-family: Georgia;
    font-size: 120%;
    text-transform: uppercase;
}

/* Bring back? */
/* 
.middle_p {
    font-size: 115%;
} */


.portfolio_header {
    margin: 15px 0px 25px 0px;
}

.app_screenshot {
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.app_description {
    width: 200px;
    height: 200x;
}

h3 {
    margin: 0px 0px 0px 0px;
}


.footer p {
    font-size: 70%
}


@media only screen and (min-width: 700px) {

    body {
        font-size: 20px;
        padding: 30px 100px 100px 100px;
    }

    h2 {
        font-size: 200%;
    }

    .headshot {
        width: 450px;
    }

    .portfolio_item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 600px;

    }

    .app_screenshot {
        width: 375px;
        background: grey;
        border: 4px, black, solid;
        border-radius: 2px;

    .app_description p {
        width: 350px;
    }
}

@media only screen and (min-width: 900px) {

    body {
        font-size: 24px;
        padding: 10px 100px 100px 100px;
    }

    .portfolio_item {
        width: 750px;
    }

}
}