@media only screen and (min-width: 0px) {

    * {
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;   
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        font-size: 16px;
    }

    header {   
        font-size: 140%;
    } 


    .bio_header, .portfolio_header {
        font-size: 130%;
    }

    .headshot {
        margin-top: 15px;
        width: 300px;
    }

    p {
        font-size: 80%;
    }

    .middle_p {
        font-size: 115%;
    }

    .app_screenshot {
        width: 300px;
    }

    .footer li {
        display: block;
    }

}

@media only screen and (min-width: 768px) {

    body {
        font-size: 20px;
        padding: 100px 150px 100px 150px;
    }



}